.container{
    max-width:1440px;
    padding: 0 3rem;
}
#what .item{
    display: flex;
    justify-content: center;
    text-align:left;
}
#what .items .item i {
    align-self: center;
    margin-right:1.3rem;
}
#who .container{
    padding:0;
}